.error{
  color: #630505;
  font-size: 150%;
  font-weight: 900;
  margin-top: 3%;
}
  
  body {
    background: #f5eee1;
      background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
      background-attachment: fixed;	
      background-size: cover;
      
      }

      h4{
        color: rgb(145, 0, 0);
        font-size: 500%;
        font-weight: 900;
        margin-top: 10%;
      }
    
    #container{
      box-shadow: 0 15px 30px 1px grey;
      background: #f5eee1;
      text-align: center;
      border-radius: 5px;
      overflow: hidden;
      margin: 2% 15%;
      height: 50%;
      width: 60%;   
      display: block; 
      text-align: center;
    }
    
    
    
    .product-details {
      position: relative;
      text-align: left;
      overflow: hidden;
      padding: 30px;
      height: 100%;
      float: left;
      width: 50%;
    
    }
 
    #container .product-details h5{
      font-family: 'Bebas Neue', cursive;
      display: inline-block;
      position: relative;
      font-size: 20px;
      color: #344055;
      margin: 0;
      
    }
    
    #container .product-details h5:before{
      position: absolute;
      content: '';
      right: 0%; 
      top: 0%;
      transform: translate(25px, -15px);
      font-family: 'Bree Serif', serif;
      display: inline-block;
      background: #ffe6e6;
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
      color: white;
      margin: 0;
      animation: chan-sh 6s ease infinite;
    
    }
     
    #container .product-details > p {
    font-family: 'EB Garamond', serif;
      text-align: center;
      font-size: 20px;
      color: #7d7d7d;
      
    }
    .control{
      position: sticky;
      margin-top: 100%;
      bottom: 5%;
      display: inline-block;
      
    }
    
    .product-image {
      transition: all 0.3s ease-out;
      display: inline-block;
      position: relative;
      overflow: hidden;
      height: 750px;
      float: right;
      width: 45%;
      display: inline-block;
    }
    
    #container img {width: 100%;height: 100%;}
    
    .info {
        background: rgba(27, 26, 26, 0.9);
        font-family: 'Bree Serif', serif;
        transition: all 0.3s ease-out;
        transform: translateX(-100%);
        position: absolute;
        line-height: 1.8;
        text-align: left;
        font-size: 150%;
        cursor: no-drop;
        color: #FFF;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .info h2 {text-align: center}
    .product-image:hover .info{transform: translateX(0);}
    
    .info ul li{transition: 0.3s ease;}
    .info ul li:hover{transform: translateX(30px) scale(0.9);}
    
    .product-image:hover img {transition: all 0.3s ease-out;}
    .product-image:hover img {transform: scale(1.2, 1.2);}

    label{
      display: inline-block;
      text-align: left;
      line-height: 100%;
      font-size: medium;
      align-items: center;
      color:#344055;
      
  }


  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  float: inline-start;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  display: inline-block;
  text-align: left;
  line-height: 100%;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  color:#344055;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 5px 5px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 15px 10px;
  background-color: #746A3C;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
  
  